

<!DOCTYPE html>

{% load static %}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> سامانه ثبت ساعت عرش </title>

 <link rel="stylesheet"  type="text/css"  href="{% static 'css/packet_job.css'  %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.9/js/uikit-icons.min.js"></script>

</head>

<body>


 <div class="header">
     <h1 class="h1" >سامانه ثبت ساعت عرش</h1>
     <img class="image"  src="{% static 'images/logo.png' %}" >

 </div>
<div class="uk-container">
<div class="form">

    <h4 class="h4"> بسته های کاری</h4>
    <div>
          <p class="p">17  تیر 1397 - ساعت 5:20</p>
      <p class="p">17 تیر 1397 - ساعت 5:20 </p>
      <p class="p">17  تیر 1397 - ساعت 5:20</p>
  <p class="p">17  تیر 1397 - ساعت 5:20</p>

    </div>

    <button class="button">ایجاد بسته کاری جدید</button>


</div>




    <div class="uk-overflow-auto form2">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
    <thead >
        <tr >
            <th   ><h4 class="h4">مدت زمان</h4></th>
            <th ><h4 class="h4">پایان</h4></th>
            <th ><h4 class="h4">شروع</h4></th>
             <th  ><h4 class="h4">عنوان کار</h4></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
             <td>Table Data</td>
        </tr>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
             <td>Table Data</td>
        </tr>
        <tr>
            <td>.....................</td>
            <td><button class="button_finish"> اتمام</button></td>
            <td>Table Data</td>
             <td>Table Data</td>
        </tr>



    </tbody>
</table>
        <div >
            <input class="input" type="text" style="width: 100%"  placeholder="کار جدید را وارد کنید..." >
        </div>




</div>



    </div>






</body>
</html>