.header {
    font-size: large;
    height: 50px;
    border-bottom: 1px solid black;
    padding: 20px;

}
.h1{
    font-family: b Nazanin;
    font-weight: bold;
    float: right;
    padding-right: 50px;
}
.image{
    float: left;
    padding-left: 50px;
    width: 8% ;

}
.h4{
    text-align: right;
    direction: rtl;
    font-weight: bold;
    font-family: b Nazanin;
}
.h4_1{
    text-align: center;
    direction: rtl;
    font-weight: bold;
    font-family: b Nazanin;
}
.form{
    font-size: large;
    font-family: b Nazanin;
    float: right;
    text-align: right;
    border: 1px solid black;
    padding: 10px;
    max-width: 30%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    height: 500px;
    resize: vertical;


}
.p{
    padding: 10px;
    direction: rtl;
    font-size: large;
    font-family: b Nazanin;
    text-align: right;
    border: 1px solid black;
}

.button{
    font-weight: bold;
    font-size: large;
    font-family: b Nazanin;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 90%;
    height: 50px;
    text-align: center;
    padding: 10px;
    background-color:rgb(230, 184, 0);
}


.form2{
    font-size: large;
    font-family: b Nazanin;
    text-align: right;
    border: 1px solid black;
    padding: 10px;
    max-width: 60%;
    margin: auto;
    margin-top: 20px;
    position: relative;
    height: 500px;
    resize: vertical;


}
.input{
    font-size: large;
    font-family: b Nazanin;
    background-color: white;
    direction: rtl;
    text-align: right;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0px;
    height: 50px;
    resize: vertical;
    border: 1px black solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding: 10px;
    font-size: large;

}

.body {
   background-color: #cccccc;
}
.button_finish{
    font-size: large;
    font-family: b Nazanin;
    font-weight: bold;
    background-color: red;
    font-size: large;
    width: 60%;
    height: 100%;
}
